<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlienPlanets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10BBD5882A16BE5E009B584A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BBD5A12A16BE60009B584A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BBD5AB2A16BE60009B584A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
